<div>
  <h2 id="page-heading" data-cy="ProductDailyHeading">
    <span jhiTranslate="hybridCloudApp.productDaily.home.title">Product Dailies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hybridCloudApp.productDaily.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-daily"
        [routerLink]="['/product-daily/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hybridCloudApp.productDaily.home.createLabel"> Create a new Product Daily </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productDailies?.length === 0">
    <span jhiTranslate="hybridCloudApp.productDaily.home.notFound">No productDailies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="productDailies && productDailies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="hybridCloudApp.productDaily.updatedDate">Updated Date</span></th>
          <th scope="col"><span jhiTranslate="hybridCloudApp.productDaily.value">Value</span></th>
          <th scope="col"><span jhiTranslate="hybridCloudApp.productDaily.product">Product</span></th>
          <th scope="col"><span jhiTranslate="hybridCloudApp.productDaily.city">City</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productDaily of productDailies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-daily', productDaily.id, 'view']">{{ productDaily.id }}</a>
          </td>
          <td>{{ productDaily.updatedDate | formatMediumDate }}</td>
          <td>{{ productDaily.value }}</td>
          <td>
            <div *ngIf="productDaily.product">
              <a [routerLink]="['/product', productDaily.product?.id, 'view']">{{ productDaily.product?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="productDaily.city">
              <a [routerLink]="['/city', productDaily.city?.id, 'view']">{{ productDaily.city?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-daily', productDaily.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-daily', productDaily.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productDaily)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
